
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

body {
    background: url(christopher-campbell-Xo4YvBp6IBM-unsplash.jpg);
    background-color:#2d2d2d;
    background-size:contain;
    color: white;
    width:fit-content;
 }

 .wrapper{
  display: flex;
  gap: 30.5em;
  width: 2em;
  
}

header{
    background: crimson;
 }
  
nav{
    font-size: 1em;

    

}
nav ul{
    display: flex;
    gap: 2em;
    text-decoration: none;
}
nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(175, 56, 56);
}

.center-box{
    font-size: larger;
    margin: 12em; 
}

.center-text {
    margin-top: 20px; /* Adjust the value to increase or decrease the gap */

}

.center-text {
    margin-top: 12em;
    text-align: center;
    display: block;
    margin-left: 14em;
    margin-right: 14em;
    width: 75%;
    height: 70%;
    background-color:rgb(79, 80, 83) ;
  }
.center-text p{
    margin-top: 2em;
    text-align:center;
    text-indent: 30px;
    font-size: large;
    line-height: 35px;
    padding: 20px;
}

.center-text p p{
    line-height: 30px;
}

.center-box h1{
    font-size: 3em;
    color: rgb(202, 22, 22);
}

.center-box h2{
    
    font-style: italic;
    font-size: 2.9em;
    color:rgb(202, 22, 22) ;
}

.title{
    text-align: center;
    font-size: 3em;
    font-weight: 200;
}
.progress-bar{
    height: 10px;
    background-color: green;
}

.ways-to-success{
  background-color:rgb(79, 80, 83) ;
    text-align: center;
    font-size: 42px;
    
  margin-left: 30px;
  margin-right: 30px;
    
}

.timeline{
  background-color: grey;
  text-align: center;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
  
}

.ani-card{
    display: flex;
}
.books{
    font-size: 52px;
    text-align: center;
}




h1 {
  text-align: center;
}

ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
ul li .title,
ul li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
ul li .title::before,
ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  ul::before {
    grid-column: 2;
  }
  ul li:nth-child(odd) {
    grid-column: 1;
  }
  ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  ul li:nth-child(2) {
    grid-row: 2/4;
  }

  ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}



.timeline h1{
  font-size: 4em;
}

.contact-us{
  display: flex;
  background-color:rgb(79, 80, 83) ;  
  margin-left: 30px;
  margin-right: 30px;
  justify-content: center;
  text-align: center;
}

.contact-us h3{
  font-size: 4em;
}

.contact-us .left{
  width: 44em;
}

.head-nav{
  font-style: italic;
}

.right{
  width: 300px;
  padding: 100px;
}

.right input{
  width: 350px;
  padding: 20px;
  margin: 5px;
  box-shadow: inset;
  box-sizing: border-box;
}






